:host {
  display: flex;
  flex-wrap: wrap;
}

.subheader {
  display: flex;
  align-items: center;
  width: 100%;

  .actions-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 402px;
  }
}

.calendar-container {
  flex-basis: 300px;
  padding: 40px 24px;
}
