<h1>{{ title }}</h1>

<div class="subheader">
  <div class="actions-container">
    <button mat-fab extended (click)="appointmmentAction$.next()">+ Create</button>
    <button mat-stroked-button (click)="setToday()">Today</button>
  </div>
  <h3>{{ selected() | date: 'longDate' }}</h3>
</div>

<div class="calendar-container">
  <div class="inline-calendar">
    <mat-calendar #calendar [(selected)]="selected" (selectedChange)="dateChanged($event)"></mat-calendar>
  </div>
</div>

<router-outlet></router-outlet>
