<h1>{{ title }}</h1>

<div class="subheader">
  <div class="actions-container">
    <button mat-fab extended (click)="appointmentAction$.next()"><mat-icon>calendar_today</mat-icon>Create</button>
    @if (hasAppoinments()) {
      <button mat-fab extended (click)="clearAction$.next()"><mat-icon>delete</mat-icon>Delete all</button>
    }
    <button mat-stroked-button (click)="setToday()">Today</button>
  </div>
  <h3>{{ selected() | date: 'longDate' }}</h3>
</div>

<div class="calendar-container">
  <div class="inline-calendar">
    <mat-calendar #calendar [(selected)]="selected" (selectedChange)="dateChanged($event)"></mat-calendar>
  </div>
</div>

<router-outlet></router-outlet>
