@use 'colors' as *;

:host {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  padding: 4px 12px;
  left: 64px;
  right: 24px;
  background-color: $color-appointment-bg;
  border-radius: 8px;
  cursor: move;
  color: $color-white;

  &:active {
    z-index: 2;
    left: 64px;
    right: 8px;
    box-shadow: inset 0 0 0 3px var(--mat-sys-primary);
  }

  &.passed {
    color: $color-text-secondary;
    background-color: $color-appointment-passed-bg;
  }
}
