@let date = selectedDate();

<div class="current-date" [class.today]="isToday()">
  <div class="weekday">{{ date | date: 'EEE' }}</div>
  <div class="day">{{ date | date: 'd' }}</div>
</div>

<div class="schedule-container">
  @for (slot of daySchedule(); track slot.time; let index=$index; let first=$first) {
    <div class="schedule-item">
      <div class="time-label" [class.hidden]="first">{{ slot.time }}</div>
      <div class="time-slot" (click)="appointmentAction$.next(index)"></div>
    </div>
  }

  @for (item of appointments(); track item.id) {
    <app-appointment
      cdkDragBoundary=".schedule-container"
      cdkDragLockAxis="y"
      (cdkDragStarted)="dragging.set(true)"
      [(dragging)]="dragging"
    ></app-appointment>
  }

</div>
